
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>user dashboard</title>
    {% load static %}

    <!-- Bootstrap Core CSS -->
    <link href="{% static 'bootstrap-dashboard/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom CSS -->
    <!-- <link href="{% static 'bootstrap-dashboard/css/sb-admin.css' %}" rel="stylesheet"> -->

    <!-- Morris Charts CSS -->
    <link href="{% static 'bootstrap-dashboard/css/plugins/morris.css' %}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{% static 'bootstrap-dashboard/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
<script>
    var favorites = []

    function addLink(v) {
        favorites.push(v)
        setTimeout(function(){
            for (var i = 0; i < favorites.length; i++){ 
                document.getElementById(i).innerHTML = "<iframe src='/team/"+favorites[i]+"'>"+favorites[i]+"</iframe>";
            }}, 1000)           
        return false;
    }
</script>
</head>
<body>
{% include 'components/nav.html' %}

<h1 style="text-align:center;padding-top:30px"> User dashboard </h1>
    <form onsubmit="var sel = this.getElementsByTagName('select')[0].value; addLink(sel); return false">
    <select name="item_id">
        <option value="nba-atl">Atalnta Hawks</option>
        <option value="nba-bk">Brooklyn Nets</option>
        <option value="nba-bos">Boston Celtics</option>
        <option value="nba-cha">Charlotte Hornets</option>
        <option value="nba-chi">Chicago Bulls</option>
      <option value="nba-cle">Cleveland Cavs</option>
      <option value="nba-dal">Dallas Mavs</option>
      <option value="nba-den">Denver Nuggets</option>
      <option value="nba-den">Detroit Pistons</option>
        <option value="nba-gs">Golden State Warriors</option>
        <option value="nba-hou">Houston Rockets</option>
        <option value="nba-ind">Indiana Pacers</option>
      <option value="nba-lac">LA Clippers</option>
      <option value="nba-lal">LA Lakers</option>
      <option value="nba-mem">Memphis Grizzlies</option>
      <option value="nba-mia">Miami Heat</option>
      <option value="nba-mil">Milwaukee Bucks</option>
      <option value="nba-min">Minnesota Timberwolves</option>
      <option value="nba-no">New Orleans Pelicans</option>
      <option value="nba-ny">New York Knicks</option>
        <option value="nba-okc">OKC</option>
        <option value="nba-orl">Orlando Magic</option>
        <option value="nba-phi">76ers</option>
        <option value="nba-pho">Suns</option>
      <option value="nba-por">Blazers</option>
      <option value="nba-sa">Spurs</option>
      <option value="nba-sac">Kings</option>
      <option value="nba-tor">Raptors</option>
      <option value="nba-uta">Jazz</option>
      <option value="nba-was">Wizards</option>
    </select>
    <button type="submit" name="submit" value="submit">Submit</button>
</form>
<div id="wrapper">
<div >
    <div id="0" class="embed-responsive embed-responsive-16by9"></div>
    <div id="1" class="embed-responsive embed-responsive-16by9"></div>    
    <div id="2" class="embed-responsive embed-responsive-16by9"></div>
    <div id="3" class="embed-responsive embed-responsive-16by9"></div>
    <div id="4" class="embed-responsive embed-responsive-16by9"></div>
</div>
</div>
</body>